name: CI-Build

on:
  push:
      branches:
        - master
        - develop
  pull_request:
      branches:
        - master
        - develop
jobs:
  ci-build:
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
          
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Fix conda permissions on macOS
        if: matrix.os == 'macos-latest'
        run: sudo chown -R $UID $CONDA

      - name: Add conda to *nix system path
        if: matrix.os == 'macos-latest' || matrix.os == 'ubuntu-latest'
        shell: bash -l {0}
        run: |
          echo $CONDA/bin >> $GITHUB_PATH

      - name: Add conda to windows system path
        if: matrix.os == 'windows-latest'
        shell: bash -l {0}
        run: |
          echo $CONDA/Scripts >> $GITHUB_PATH

      - name: Update base environment
        shell: bash -l {0}
        run: |
          conda env update --file environment.yml --name base

      - name: Lint with flake8
        shell: bash -l {0}
        run: |
          conda install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 src --count --max-complexity=10 --max-line-length=127 --statistics
   
      # Enable tests when we have some to run :-)
      #- name: Test with pytest
      #  shell: bash -l {0}
      #  run: |
      #    conda install pytest
      #    pytest
