name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build packages
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            app: update_m32
            target: macos
            type: cli
            conda_path: $CONDA/bin
            assets: src/bin/*.bin:bin/
            exe_name: update_m32
            mime: application/zip

          - os: ubuntu-latest
            app: update_m32
            target: ubuntu
            type: cli
            conda_path: $CONDA/bin
            assets: src/bin/*.bin:bin/
            exe_name: update_m32
            mime: application/zip

          - os: windows-latest
            app: update_m32
            target: windows
            type: cli
            conda_path: $CONDA/Scripts
            assets: src/bin/*.bin;bin/
            exe_name: update_m32.exe
            mime: application/zip
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Fix conda permissions on macOS
        if: matrix.os == 'macos-latest'
        shell: bash -l {0}
        run: sudo chown -R $UID $CONDA

      - name: Add conda to system path
        shell: bash -l {0}
        run: |
          echo ${{ matrix.conda_path }} >> $GITHUB_PATH

      - name: Setup base environment
        shell: bash -l {0}
        run: |
          conda env update --file environment.yml --name base

      - name: Lint with flake8
        shell: bash -l {0}
        run: |
          conda install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 src --count --max-complexity=10 --max-line-length=127 --statistics

      # Enable tests when we have some to run :-)
      #- name: Test with pytest
      #  shell: bash -l {0}
      #  run: |
      #    conda install pytest
      #    pytest

      - name: Set environment variable
        shell: bash -l {0}
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV
     
      - name: Build with pyinstaller
        shell: bash -l {0}
        run: |
          pyinstaller --clean -y --onefile --add-data "${{ matrix.assets }}" src/update_m32.py

      - name: Zip build artifacts for macos and ubuntu
        shell: bash -l {0}
        if: matrix.os == 'macos-latest' || matrix.os == 'ubuntu-latest'
        run: |
          mkdir archive
          zip -j ./archive/${{ matrix.target }}-${{ matrix.type }}-${{ matrix.app }}-v${{ env.RELEASE_VERSION }}.zip ./dist/${{ matrix.exe_name }} 

      - name: Zip build artifacts for windows
        shell: powershell
        if: matrix.os == 'windows-latest'
        run: |
          mkdir archive
          Compress-Archive -DestinationPath ./archive/${{ matrix.target }}-${{ matrix.type }}-${{ matrix.app }}-v${{ env.RELEASE_VERSION }}.zip -Path ./dist/${{ matrix.exe_name }}

      - name: Upload artifacts to workspace
        uses: actions/upload-artifact@v1
        with:
          name: artifacts
          path: ${{ github.workspace }}/archive/${{ matrix.target }}-${{ matrix.type }}-${{ matrix.app }}-v${{ env.RELEASE_VERSION }}.zip
